<a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
<div class="topnav" id="myTopnav">
  <a href="index.html">Home</a>
  <a href="aboutwebsite.html">About</a>
  <a href="resumewebsite.html">Resume</a>
  <a href="gallerywebsite.html">Gallery</a>
  <div class="dropdown">
    <button class="dropbtn">Assignments</button>
    <div class="dropdown-content">
      <a href="reflectionwebsite.html">Reflection</a>
      <a href="postswebsite.html">Corpus Analysis</a>
      <a href="gameanalysiswebsite.html">Game Analysis</a>
    </div>
  </div>
</div>
<div class="separator-nav"></div>